
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    color: red;
    font-weight: bold;
}

/* Стили для редактируемых контейнеров */
.editable-container {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 2px solid #4CAF50; /* Зеленая рамка для выделения */
}

.editable-container[contenteditable="true"] {
    border: 2px dashed #4CAF50; /* Пунктирная рамка для редактируемого контента */
}

.editable-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.editable-container p {
    font-size: 14px;
    color: #55;
}

.input-wrapper {
      position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.centered-message {
    text-align: center; /* Центрирует текст */
    font-size: 14px;   /* Размер шрифта */
    margin: 20px 0;    /* Отступы сверху и снизу */
    font-weight: bold; /* Делает текст жирным (опционально) */
}
.error {
    font-size: 14px; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
    color: #ff0000; /* Красный цвет текста */
}