<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Добро пожаловать на сайт</h1>
        <form action="/login" method="get">
            <button type="submit" class="btn">Войти</button>
        </form>
        <form action="/signup" method="get">
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <!-- Кнопка "Н" для создания новой игры -->
        <form action="/h/new" method="post">
            <button type="submit" class="btn">Н</button>
        </form>
        <!-- Поле для ввода кода игры и кнопка "П" -->
        <form action="/h/join" method="post">
            <input type="text" name="game_code" placeholder="Введите код игры" required>
            <button type="submit" class="btn">П</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: red; font-weight: bold; text-align: center;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
