<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Регистрация</h1>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Имя пользователя"
                   class="{% if error_username %}error{% endif %}" value="{{ request.form.username }}">
            <input type="password" name="password" placeholder="Пароль"
                   class="{% if error_password %}error{% endif %}">
            <input type="password" name="confirm_password" placeholder="Подтвердите пароль"
                   class="{% if error_confirm_password %}error{% endif %}">
            <input type="email" name="email" placeholder="Email"
                   class="{% if error_email %}error{% endif %}" value="{{ request.form.email }}">
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: red; font-weight: bold;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <a href="/login">Уже зарегистрированы? Войдите</a>
    </div>
</body>
</html>
