<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать или Подключиться к игре</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Добро пожаловать, {{ username }}!</h1>
        <form action="{{ url_for('create_game') }}" method="POST">
            <button type="submit">Создать игру</button>
        </form>
        <form action="{{ url_for('join_tic_tac_toe') }}" method="GET">
            <button type="submit">Подключиться к игре</button>
        </form>
    </div>
</body>
</html>
